<div class="banner" style="background-image: url('<%= cl_image_path(@cocktails[@random_cocktail].photo.key) %>');object-fit: fill; background-size: cover;">

<div class="hero-content">
  <h1><%= @cocktails[@random_cocktail].name %></h1>
  <p class="lead"><%= @cocktails[@random_cocktail].description %></p>
  <p><%= link_to "Try It", cocktail_path(@cocktails[@random_cocktail].id), class: "btn btn-danger" %></p>
</div>

</div>
<div class="container">

<div class="row cols-12 cols-md-offset-6">
  <% @cocktails.each do |cocktail| %>
    <div class="cocktail-card">
      <div class="card-top">
        <%= cl_image_tag(cocktail.photo.key) %>

        <div class="management">
          <%= link_to edit_cocktail_path(cocktail.id) do  %>
            <i class="fas fa-edit"></i>
          <% end %>
        </div>
      </div>
      <div class="cocktail-card-info">
        <div class="card-description">
          <%= link_to cocktail_path(cocktail) do  %>
          <h2><%= cocktail.name %></h2>
          <% end %>
          <p><%= cocktail.description %></p>
        </div>
        <div class="card-details">
          <div class="card-rating">
            rating
          </div>
          <div class="card-tags">
          <%= cocktail.difficulty %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
</div>
