<div class="banner" style="background-image: url('<%= cl_image_path @cocktail.photo.key %>')">

<div class="hero-content">
  <h1><%= @cocktail.name %></h1>
  <p class="lead"><%= @cocktail.description %></p>
</div>

</div>

<div class="container">

<div class="row">
  <div class="col-12 col-md-4">
    <h3>Ingredients: </h3>
    <ol id="showdoses">
      <% @cocktail.doses.each do |dose| %>
        <li><%= dose.description %> | <%= Ingredient.find(dose.ingredient_id).name %> | <%= link_to 'Delete', dose_path(dose), method: :delete, data: {confirm: 'U sure Ara?' }  %>
        </li>
      <% end %>
    </ol>


    <%= simple_form_for [@cocktail, @dose] do |f| %>
      <%= f.input :description %>
      <%= f.association :ingredient, collection: Ingredient.order('name ASC') %>
      <%= f.submit 'Add Ingredient', :class => "btn btn-pink" %>
    <% end %>
    </div>
    <div class="col-12 col-md-8">
      <div class="cocktail-reviews mb-3">
        <h3>Cocktail Reviews: </h3>
        <% @cocktail.reviews.each do |review| %>
        <div class="review-card bg-white rounded mb-1 p-2 d-flex">
        <div class="review-image">
          <%= cl_image_tag(review.photo.key,
          width: 100, height: 100, crop: :thumb, class: "rounded") %>
        </div>
        <div class="review-content">
          <p class="lead"> <%= review.content %></p>
        </div>
        <div class="review-rating">
          <p> <%= '⭐️' * review.rating.to_i %>  </p>
        </div>
        <div class="review-date">
          <p><%= review.created_at.strftime("%F") %></p>
        </div>
        </div>
        <% end %>
      </div>

      <h2>Add your review!!</h2>
      <%= simple_form_for [@cocktail, @review] do |f| %>
        <%= f.input :content %>
        <%= f.input :photo, as: :file %>
        <%= f.input :rating, placeholder: 'Enter a number between 1 - 5' %>

        <%= f.submit 'Add Review', :class => "btn btn-pink" %>
      <% end %>

    </div>
  </div>
  </div>
