<div class="banner" style="background-image: url('<%= cl_image_path @cocktail.photo.key %>')">

<div class="hero-content">
  <h1><%= @cocktail.name %></h1>
  <p class="lead"><%= @cocktail.description %></p>
</div>

</div>

<div class="container">

<div class="row">
  <div class="col-4">
    <h3>Ingredients: </h3>
    <ol>
      <% @cocktail.doses.each do |dose| %>
        <li><%= dose.description %> | <%= Ingredient.find(dose.ingredient_id).name %> | <%= link_to 'Delete', dose_path(dose), method: :delete, data: {confirm: 'U sure Ara?' }  %>
        </li>
      <% end %>
    </ol>


    <%= simple_form_for [@cocktail, @dose] do |f| %>
      <%= f.input :description %>
      <%= f.association :ingredient, collection: Ingredient.order('name ASC') %>
      <%= f.button :submit %>
    <% end %>
    </div>
    <div class="col-8">
      <div class="cocktail-reviews">
        <h3>Cocktail Reviews: </h3>
        <% @cocktail.reviews.each do |review| %>
        <div class="bg-white rounded mb-1 p-1">
         <%= cl_image_tag(review.photo.key,
      width: 100, height: 100, crop: :thumb, class: "rounded") %>
      <p> <%= review.content %></p>
      <p><%= review.rating %> </p>

      </div>
        <% end %>
      </div>

      <h2>Add your review!!</h2>
      <%= simple_form_for [@cocktail, @review] do |f| %>
        <%= f.input :content %>
        <%= f.input :photo, as: :file %>
        <%= f.input :rating %>
        <%= f.submit 'text' %>
      <% end %>

    </div>
  </div>

  <%= link_to 'Back to list',  cocktails_path %>
  <%= link_to 'Create dose',  new_cocktail_dose_path(@cocktail)%>
  </div>
